#include "ResVOPM.h"
IDI_BG BITMAP bmp00100.bmp
IDI_ABOUT BITMAP bmp00101.bmp
IDI_SLIDERBG BITMAP bmp00102.bmp
IDI_KNOB BITMAP bmp00103.bmp
IDI_BTN BITMAP bmp00104.bmp
IDI_CON BITMAP bmp00105.bmp
IDI_HDSW BITMAP bmp00106.bmp
